{% extends "core/base.html" %}

{% block title %}
<h1>Список категорий</h1>
{% endblock %}

{% block menu %}

{% endblock %}

{% block content %}
 <form action="" method="get">
  {{ searchform }}

  <input type="submit" value="Search">
 </form>

{% for category in categories%}
 <h1>
   <a href="{% url "categories:current_category" pk=category.pk %}">{{ category.title }}</a>
   ({{category.posts.count}} posts)
 </h1>
{% endfor %}

{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}




{% endblock %}